.*.swp
a.out
*.bit
*.fst
*.gtkw
webtalk*.jou
webtalk*.log
vivado*.log
vivado*.jou
vivado*.str
vivado*.zip
vivado*.debug
.nfs*
.fuse*
vivado_project
vivado_project_sim
bak
lbread.vh
lbwrite.vh
ilaauto.vh
ilaauto.tcl
*.pyc
*.tar.gz
vims
bits
*.log
*.ltx
.Xil
